/*  contains all the items, it's the
    root container */
.main_container{
    background-color: rgb(255, 254, 254);

    display: flex;
    /* main direction */
    flex-direction: row;
    /* multiple line */
    flex-wrap: wrap;
    /* alignment along main axes */
    justify-content: center;
    /* alignment along cross axis */
    align-items: center;
    /*This aligns a flex container’s lines 
    within when there is extra space in the cross-axis */
    align-content: center;

    height: 100%;
    width: 100%;

}

/*  rounded div that contains 
    a single item */
.item_container{

    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(0, 139, 226);

    width:200px;
    height: 200px;

    text-align: center;
}

/*  popup displaying all
    actions that can be 
    performed on an item */
.popup{
    /* remove dots */
    list-style-type: none;
    margin: 0;
    padding: 0;

    width: 150px;
    border: 1px solid rgb(0, 139, 226);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;

}
/*  single action that can be
    performed on an item */
.popup li{
    display: inline-block;
    border: 1px solid rgb(0, 139, 226);
    height: 100%;
}
.popup li:hover{
    background-color: rgb(126, 206, 255);
}
.popup li p{
    text-align: center;
    font-size:large;
    font-family: Arial, Helvetica, sans-serif;
}

/*  title of an item of type
    genre */
.genre_title{
    position: relative;
    top:50px;
    font-size:xx-large;
    font-family: Arial, Helvetica, sans-serif;
}

/*  year of origin of an item of
    type genre */
.genre_origin{
    position: relative;
    top:50px;
    font-size:large;
    font-family: Arial, Helvetica, sans-serif;
}

