:root {
    --genre_color:rgb(0, 139, 226);
    --genre_hover_color:rgba(0, 139, 226, 0.3);
    --sub_color:rgb(48, 206, 0);
    --sub_hover_color:rgba(48, 206, 0,0.3);
    --fus_color:rgb(231, 141, 22);
    --fus_hover_color:rgba(231, 141, 22,0.3);
    --artist_color:rgb(185, 24, 24);
    --artist_hover_color:rgba(185, 24, 24,0.3);
    --group_color:rgb(198, 36, 212);
    --group_hover_color:rgba(198, 36, 212,0.3);
  }



/*  back button, to return to the
    previous items */
#back{
    position: sticky;
    left: 10px;
    top: 10px;
    padding:20px;
    margin:20px;
    background-color: white;
    border: 2px solid var(--genre_color);
    font-size: large;
}
#back:hover{
    background-color: var(--genre_hover_color);
}


/*  contains all the items, it's the
    root container */
.main_container{
    overflow:scroll;
    position:relative;

    display: flex;
    /* main direction */
    flex-direction: row;
    /* multiple line */
    flex-wrap: wrap;
    /* alignment along main axes */
    justify-content: center;
    /* alignment along cross axis */
    align-items: center;
    /*This aligns a flex container’s lines 
    within when there is extra space in the cross-axis */
    align-content: center;

    height: 80%;
    width: 100%;
    margin:auto;

}
/* Hide scrollbar for Chrome, Safari and Opera */
.main_container::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .main_container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

#item_abstract_container{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display:none;
}

/*  rounded div that contains 
    a single item */
.item_genre_container{
    position:relative;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: var(--genre_color);

    width:200px;
    height: 200px;

    text-align: center;
}
.item_genre_container:hover{
    background-color: var(--genre_hover_color);
}

/*  rounded div that contains 
    a single subitem */
.subitem_container{
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    margin:20px;

    width:120px;
    height: 120px;

    text-align: center;
}
.subitem_container[type="sub_genre"]{
    border-color: var(--sub_color);
}
.subitem_container[type="fus_genre"]{
    border-color: var(--fus_color);
}
.subitem_container[type="artist"]{
    border-color: var(--artist_color);
}
.subitem_container[type="group"]{
    border-color: var(--group_color);
}
.subitem_container[type="sub_genre"]:hover{
    background-color: var(--sub_hover_color);
}
.subitem_container[type="fus_genre"]:hover{
    background-color: var(--fus_hover_color);
}
.subitem_container[type="artist"]:hover{
    background-color: var(--artist_hover_color);
}
.subitem_container[type="group"]:hover{
    background-color: var(--group_hover_color);
}

/*  popup displaying all
    actions that can be 
    performed on an item */
.popup_genre{
    /* remove dots */
    list-style-type: none;
    margin: 15px;
    padding: 0;

    width: 150px;
    /*border: 1px solid rgb(0, 139, 226);*/

    display: none;/*flex*/
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}
/*  single action that can be
    performed on an item */
.popup_genre li{
    display: inline-block;
    border-bottom: 2px solid var(--genre_color);
    height: 100%;
}
.popup_genre li:hover{
    background-color: var(--genre_hover_color);
}
.popup_genre li p{
    text-align: center;
    font-size:large;
    font-family: Arial, Helvetica, sans-serif;
}

/*  title of an item of type
    genre */
.genre_title{
    position: relative;
    top:50px;
    font-size:xx-large;
    font-family: Arial, Helvetica, sans-serif;
    animation:none;
    line-height: 90%;
}

/*  title of an item of type
    genre */
    .subitem_title{
        position: relative;
        top:30px;
        font-size:large;
        font-family: Arial, Helvetica, sans-serif;
        animation:none
    }

/*  year of origin of an item of
    type genre */
.genre_origin{
    position: absolute;
    bottom:10px;
    left:40%;
    font-size:large;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeOut{
    to{
        opacity: 0;
    }
}

@keyframes fadeIn{
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}